* {
    box-sizing: border-box;
}
body {
    background-image: url(kepek/dark-background-abstract-background-network-3d-background-3840x2160-8324.png);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    width: 100%;
    border: 10px solid rgb(50, 48, 48);
    border-radius: 15%;
    padding: 10px;
}

a {
    text-align: center;
    color: rgb(198, 198, 198);
    text-decoration: none;
    padding: 10px;
    border: 10px solid gray;
    border-radius: 25%;
    background-color: rgb(50, 48, 48);
}

h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 20px;
}

h2 {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(27, 26, 26);
    border-radius: 5%;
    color: white;
}

p {
    text-align: justify;
    font-size: 15px;
    font-family: Rockwell;
}
.tartalom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.jatek1 {
    background-color: gray;
    color: black;
   
}
.jatek2 {
    background-color: black;
   
}
.jatek3 {
    background-color: gray;
    color: black;
    
}
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
@media screen and (max-width: 600px) {
    .tartalom{
        width: 100%;
        grid-template-columns: 1fr;
    }
    
}